# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.cbp

# Clion
.idea/

# Misc
.DS_Store

# VS Code
.vscode/

main.dSYM/
risingCity.dSYM/
CMakeCache.txt
output.txt
sample2.txt
test
test.dSYM/
test_output_file.txt
