# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Clion
.idea/

# Misc
.DS_Store

CMakeFiles/

# VS Code
.vscode/

main.dSYM/
risingCity.dSYM/
CMakeLists.txt
CMakeCache.txt
cmake_install.cmake
